*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --mainColor: #f57224;
  --whiteColor: #ffffff;
  --blackColor:#000;
  --lightDark:#222;
}
body{
  font-family: 'Lato', sans-serif;
}
/* Navbar styles */
nav{
  width:100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  display: flex;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 99999;
}

.left{
  text-align: left;
  width: 50%;
}

.left a{
  font-weight: 700;
  color: var(--mainColor);
  font-size: 25px;
}

.right{
  text-align: right;
  width: 50%;
}

nav ul{
  list-style: none;
}

nav ul a{
  text-decoration: none;
}

.ShoppingCart i{
  font-size: 20px;
  display: inline-block;
  color: var(--lightDark);
  margin-right: 15px;
}

.Cartcount{
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}
/* Banner helper */
.container{
  width: 100%;
  padding: 0 100px;
}
/* Banner style */
header{
  width: 100%;
  background: url("../src/Assets/Banner.jpg");
  height: 250px;
  margin-top: 70px;
  background-size:cover ;
  background-repeat: no-repeat;
 
  color: white;

}

.headertext{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.headertext h1{
  font-size: 35px;

}
.headertext p {
  margin-top: 7px;
}
/* Products css */

.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.product{
  width:25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;;
}
.hot{
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: var(--whiteColor);
}
.new{
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: var(--whiteColor);
}
.product_img{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.product_img img{
  width: 100%;
  height: 200px;
}
.product_details{
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
}
.product_name{
  font-size: 18px;
  font-weight: 500;
  margin:12px 0;
}
.product_price{
  font-size: 20px;
  font-weight: 300;
  margin:12px 0;
}
.addtocart{
  background: var(--mainColor);
  padding:  10px 20px;
  width: 100%;
  color:var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/* Not found styles */
.not-found{
  margin-top: 100px;

}